var config = {};

config.app = {
    "login": {
        "url": "https://www.dmm.com/my/-/login/=/path=Sg__/",
        "username" : "{username}",
        "password" : "{password}"
    },
        "url": "http://www.dmm.com/"
    }
};

module.exports = config;
